/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/azure-blue.css";
@import "tailwindcss";

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: #f7f7fb;
	color: #1f2937;
}

.cart-badge.mat-badge-above .mat-badge-content {
	top: 2px;
	right: -4px;
}

.cart-badge .mat-badge-content {
	font-size: 11px;
	line-height: 18px;
	height: 18px;
	min-width: 18px;
	padding: 0 4px;
}
